.eventsPage {
  min-height: 80vh;
  background-image: url("../../assets/images/imagineEvenimente.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;

  h1 {
    color: #030202;
  }
}

.events-list {
  list-style: none;
  padding: 0;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-item {
  border-radius: 12px;
  padding: 20px;
  margin: 70px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .event-details {
    h2 {
      margin-bottom: 10px;
      color: #1a1107;
      font-size: 1.5em;
    }

    p {
      color: #6b4e2d;
      font-size: 1em;
    }
  }

  .event-image {
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
  }
}
