.reservationPage {
  min-height: 100vh;
  background-image: url("../../assets/images/imagineRezervare.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.reservation-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.reservation-form {
  flex: 1;
  background-color: #343541;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 500px;

  margin-top: 20px;
  padding: 40px;
  flex-direction: column;
  color: #d6d7d9;

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .css-1hhziy4-MuiInputBase-root-MuiInput-root {
    position: static;
  }
  .css-1hhziy4-MuiInputBase-root-MuiInput-root::before {
    border: 0 !important;

    &:focus {
      border: 0 !important;
    }
  }
  .css-1hhziy4-MuiInputBase-root-MuiInput-root::after {
    border: 0 !important;
  }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input::after {
    border: 0 !important;
  }
  .form-group {
    display: block;
    width: 100%;
    margin: 15px 0;
    font-size: 18px;

    input,
    select {
      padding: 15px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      margin-top: 8px;
      background-color: #d6d7d9;
    }
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-width: 0px;
    &:focus {
      border-width: 0px;
    }
  }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0;
  }
  .time-picker {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none !important;
    border-radius: 8px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease;
  }

  .chakra-select__icon-wrapper,
  .css-162mkon {
    display: none !important;
  }
  .css-42b2qy {
    width: 100% !important;
  }

  .reservation-button {
    background-color: #fff;
    color: #a52a2a;
    padding: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: black;
      color: #fff;
    }
  }
}

.footerRezervation {
  background-image: url("../../assets/images/bkFooter.jpg");
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  margin-top: 100px;
  padding: 0 20px;
  border-radius: 25px 65px;
  color: white;
}

.footerRezervation-item {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footerRezervation-item:hover {
  background-color: #a52a2a; /* Brown color */
  color: white;
}
