.singin-singup {
  background: linear-gradient(
    to right,
    #2980b9,
    #3498db,
    #5dade2,
    #85c1e9,
    #aed6f1
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 88.2vh;
  padding: 20px;
}

.singin-singup .auth-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.singin-singup h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.singin-singup form {
  max-width: 400px;
}

.singin-singup input[type="text"],
.singin-singup input[type="email"],
.singin-singup input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
